:root{
    /* primario */
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    /* neutral */
    --Dark-Grayish-red: hsl(0, 5%, 24%);
}

.contenedor{
    display: flex;
    width: 100%;
    height: 98vh
}

.mitad-derecha{
    width: 60%;
    padding: 4% 12%;
}

.mitad-izquierda{
    width: 40%;
}

.imagen-aside{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo{
    margin-bottom: 50px;
}

.descripcion{
    color: var(--Desaturated-Red);
    font-size: 20px;
    margin-bottom: 40px;
}

.were{
    font-size: 70px;
    font-weight: bold;
}

.coming{
    color: var(--Dark-Grayish-red);
    font-size: 70px;
    font-weight: bold;
}

br{
    background-color: aqua;
}

/*
#datos{
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
}

#campo-txt{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border-style: solid;
    outline: none;
    border-color: var(--Desaturated-Red);
}

#boton{
    border-radius: 15px;
    width: 80px;
    height: 45px;
    margin: auto 0;
    background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    border-color: var(--Desaturated-Red);
    position: absolute;
    bottom: 2px;
    right: 0;
}
*/

/* prueba con otro formulario */
.cont{
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
}

#entrada{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border-style: solid;
    outline: none;
    border-color: var(--Desaturated-Red);
}

#btn{
    border-radius: 15px;
    width: 80px;
    height: 45px;
    margin: auto 0;
    background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    border-color: var(--Desaturated-Red);
    position: absolute;
    bottom: 2px;
    right: 0;
}

#advertencia{
    color: red;
    padding: 0 5%;
}



@media screen and (max-width: 720px) {
    .contenedor{
        flex-direction: column-reverse;
        height: auto;
        position: relative;
    }

    .mitad-izquierda{
        width: auto;
    }

    .mitad-derecha{
        width: auto;
    }

    .descripcion{
        text-align: center;
        margin-bottom: 40px;
    }

    .cont{
        width: 90%;
        margin: auto;
    }

    .logo{
        position: absolute;
        top: 0;
        left: 20px;
        margin: 20px;
    }

    .imagen-aside{
        margin-top: 80px;
       height: 300px;
       object-position: 0% 10%;
       object-fit: none;
       object-fit: cover;
    }
}